.Draft__container {
    height: 88.5vh;
    position: absolute;
    top: 67px;
    left: 252px;
    z-index: 51;
    background-color: #fff;
    /* background-color: bisque; */
    border-radius: 15px;
    transition: .1s all ease-in-out;
    overflow: hidden;
}

.DraftSticky_top {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.bottom_icons .icons_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0 20px;
}

.bottom_icons .icons_section .iconSection_left,
.bottom_icons .icons_section .iconSection_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.bottom_icons .icons_section .iconSection_left .checkbox_icon input[type=checkbox] {
    width: 16px;
    height: 16px;
}

.bottom_icons .icons_section .iconSection_right {
    padding: 0 12px 0 0;
}

.bottom_icons .icons_section .iconSection_left .MuiSvgIcon-root,
.bottom_icons .icons_section .iconSection_right .MuiSvgIcon-root {
    font-size: 18.5px;
}

.bottom_icons .icons_section .iconSection_right .splitPanemode_popupDrafts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 190px;
    height: 110px;
    background-color: #fff;
    position: absolute;
    top: 35px;
    right: 92px;
    z-index: 10;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bottom_icons .icons_section .iconSection_right .splitPanemode_popupDrafts p {
    padding: 6.5px 0 6.5px 45px;
    font-size: 14px;
    width: 100%;
    margin: 3px 0 0 0;
}

.bottom_icons .icons_section .iconSection_right .splitPanemode_popupDrafts p:hover {
    background-color: rgb(238, 238, 238);
}

.bottom_icons .iconButton_hoverEffect:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
}

.draftText_title {
    padding: 25px 0 10px 0;
    text-align: center;
    font-size: 14px;
}

.morePopupDrafts {
    background-color: #fff;
    height: 110px;
    width: 250px;
    position: absolute;
    top: 30px;
    left: 110px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.morePopupDrafts button {
    background: transparent;
    border: none;
    text-align: start;
    width: 100%;
    margin: 5px 0;
    padding: 10px 50px;
    font-size: 15px;
}

.morePopupDrafts button:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.morePopupDrafts hr {
    height: 0.5px;
    background-color: lightgray;
    border: none;
}

.morePopupDrafts p {
    padding: 0 45px;
    font-size: 13.5px;
    font-style: italic;
    margin-top: 10px;
}